<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}
    <p>This website was created by Aditya T. Anantwar. The data is loaded from mapbox.com and weatherstack.com.</p>
    <footer>{{>footer}}</footer>
</body>
</html>